@model RatingViewModel

<div class="full-container">@* 
    <h3>@Model.book.Title</h3> *@
    <h3>@Model.UserId</h3>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-controller="Book" asp-action="AddRating" method="post" class="form">
        <div class="form-group row">
            <label asp-for="Rating" class="">Rating av 10:</label>
            <div class="col-sm-4">
                <input asp-for="Rating" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Review" class="">Recension:</label>
            <div class="col-sm-4">
                <input asp-for="Review" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="form-button">
                <input type="submit" value="Uppdatera" class="btn btn-primary" />
            </div>
        </div>
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="BookId" />
    </form>
</div>